{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>



<style>
  .modal{
      z-index: 9999;
      overflow: scroll;
    }


.dropdown-item:hover{
    color: rgb(226, 149, 5);
}


  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  #tr_data:hover{
    background-color: #757575;
  }
</style>


<div style="top: 7rem;">

  <section id="estimates_section">
    <div class="row  mx-2">
      {% for message in messages %}
      {{ message }}
      {% endfor %}
      <div class="col-md-6 py-2"><a class="text-white" style="font-size: 1.5rem;"> All Estimates</a></div>
      <div class="col-md-6 form-inline justify-content-end py-2">
        <!-- <a style="color: white; background-color: rgb(210, 132, 30);" class="btn mr-1" href="{% url 'newestimate' %}"><i
            class="fa-solid fa fa-plus " ></i>New</a> -->
        
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-5 col-lg-5">
        <input type="text" id="search" class="form-control bg-light text-dark" placeholder="Search.." autocomplete="off">
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1">
        <div class="col-md-1 ">
          <div class="dropdown " >
            <a class="dropdown-toggle btn btn-outline-warning text-warning pt-2 pb-2" href="" data-toggle="dropdown">
              <i class="fas fa-sort"></i>
            </a>
            <div class="dropdown-menu m-1">
              <a class="dropdown-item" href="{% url 'allestimates' %}">All</a>

              
              <a class="dropdown-item" href="{% url 'est_sort_by_name' %}">Name</a>
              <a class="dropdown-item" href="{% url 'est_sort_by_estno' %}">EST No</a>
            </div>
          </div>

          
        </a>
        </div>
      </div>
      <div class="col-sm-3 col-md-2 col-lg-2"></div>
      <!-- <div class="col-sm-3 col-md-1 col-lg-1">
        
      </div> -->
      <div class="col-sm-1 col-md-1 col-lg-1">
       
        <div class="col-md-1 ">
          <div class="dropdown " >
            <a class="dropdown-toggle btn btn-outline-warning text-warning pt-2 pb-2" href="" data-toggle="dropdown">
              <i  class="fa fa-filter"></i>
            </a>
            <div class="dropdown-menu m-1">
              <a class="dropdown-item" href="{% url 'allestimates' %}">All</a>

              <a class="dropdown-item" href="{% url 'filter_by_draft' %}">Draft</a>
              <a class="dropdown-item" href="{% url 'filter_by_sent' %}">Sent</a>
              
            </div>
          </div>

        </a>
        </div>
      </div>
      <div class="col-sm-5 col-md-3 col-lg-3">
        <a  style="color: white; height:35px;" id="exportBtn" class="btn btn-outline-warning text-warning mr-1 pt-2" >Export</a>
        <a  style="color: white; height:35px;" id="importBtn" data-toggle="modal" data-target="#import_modal" class="btn btn-outline-warning text-warning mr-1 pt-2" >Import</a>
        <a  style="color: white; height:35px;" class="btn btn-outline-warning text-warning mr-1 pt-2" href="{% url 'newestimate' %}"><i
          class=" fas fa-plus " ></i>New</a>
      </div>
    </div>

    <div class="col-sm-12 mt-5">
      <table id="estimates-table" class="table  text-white text-center" style="cursor: pointer;">
        <thead>
          <tr>
            <th>DATE</th>
            <th>ESTIMATE NUMBER</th>
            <th>CUSTOMER NAME</th>
            <th>CUSTOMER MAIL ID</th>
            <th>AMOUNT</th>
            <th>STATUS</th>
            <th>BALANCE</th>
            <th>ACTION</th>
            


          </tr>
        </thead>
        <tbody id="table">
          {% for estimate in estimates %}
          <tr id="tr_data" class="clickable-row">
            <td><a href="{% url 'estimateslip' estimate.id %}" style="color: white;">{{estimate.estimate_date}}</a></td>

            <td ><a href="{% url 'estimateslip' estimate.id %}" style="color: white;">{{estimate.estimate_no}}</a></td>

            <td><a href="{% url 'estimateslip' estimate.id %}" style="color: white;">{{estimate.customer_name}}</a></td>
            <td><a href="{% url 'estimateslip' estimate.id %}" style="color: white;">{{estimate.customer_mailid}}</a></td>
            <td><a href="{% url 'estimateslip' estimate.id %}" style="color: white;">{{estimate.total}}</a></td>
            
            <td><a href="{% url 'estimateslip' estimate.id %}" style="color: white;">{{estimate.status}}</a></td>
            <td><a href="{% url 'estimateslip' estimate.id %}" style="color: white;">{{estimate.balance}}</a></td>
            <td>
              <div class="dropdown " >
                <a class="dropdown-toggle btn btn-outline-warning text-warning pt-2 pb-2"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                  <i class="fa fa-exchange" aria-hidden="true">Convert</i>
                </a>
                <div class="dropdown-menu m-1">
                  

                  {% if estimate.convert_sales == 'converted' %}
                  <a class="dropdown-item" href="">To Invoice </a>
                  <a class="dropdown-item" href="">To SalesOrder (Done) <br> <span class="text-warning">{{ estimate.salesorder.sales_no}}</span> </a>
                  <a class="dropdown-item" href="">To Rec.Invoice</a>
                  {% elif estimate.convert_invoice == 'converted' %}
                  <a class="dropdown-item" href="">To Invoice ( Done )<br><span class="text-warning">{{ estimate.invoice.invoice_no}}</span></a>
                  <a class="dropdown-item" href="" >To SalesOrder</a>
                  <a class="dropdown-item" href="">To Rec.Invoice</a>
                  {% elif estimate.convert_recinvoice == 'converted' %}
                  <a class="dropdown-item" href="">To Invoice </a>
                  <a class="dropdown-item" href="">To SalesOrder</a>
                  <a class="dropdown-item" href="">To Rec.Invoice (Done)<br><span class="text-warning">{{ estimate.reccinvoice.reinvoiceno}}</span> </a>
                  {% else %}
                  <a class="dropdown-item" href="{% url 'converttoinvoice' estimate.id %}">To Invoice </a>
                  <a class="dropdown-item" href="{% url 'convert_to_salesorder' estimate.id %}">To SalesOrder</a>
                  <a class="dropdown-item" href="{% url 'convert_to_reccinvoice' estimate.id %}">To Rec.Invoice</a>
                  {% endif %}

                  
                </div>
              </div>
            </td>
<!--             
              {% if estimate.convert_sales == 'converted' %}
              <td style="color: rgb(3, 82, 3);">Done</td>
              {% else %}
              <td style="color: rgb(158, 2, 2);">Not Done</td>
              {% endif %}

              {% if estimate.convert_invoice == 'converted' %}
              <td style="color: rgb(3, 82, 3);">Done</td>
              {% else %}
              <td style="color: rgb(158, 2, 2);">Not Done</td>
              {% endif %}
             -->

          </tr>
          {% endfor %}
        </tbody>


      </table>
</div>

<!-- ................................... import modal ................. -->

<div class="modal fade" id="import_modal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" style="background: rgb(32, 35, 37);border-radius: 20px;">
      <div class="modal-header " style="background: rgb(32, 35, 37);">
        <h1 class="text-light">Import Estimate</h1>
      </div>
      <div class="modal-body" style="background: rgb(32, 35, 37);">
        <div class="card p-3 m-3">        
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
              <h5 class="text-danger">IMPORTANT:</h5>
              <p class="text-light">File should have 2 sheets named 'Sheet1' & 'Sheet2'and column name & order should be in the given format(Uppercase)</p><br>
              <p class="text-light">Place of supply should be in the following format ,eg: for kerala  Type [KL]-Kerala  </p>
              <div class="row">
                <div class="col-md-4">
                    [AN]-Andaman and Nicobar Islads<br>
  [AD]-Andhra Predhesh <br>
  [AR]-Arunachal Predesh <br>
  [AS]-Assam<br>
  [BR]-Bihar<br>
  [CH]-Chandigarh<br>
  [CG]-Chhattisgarh<br>
  [DNH]-Dadra and Nagar Haveli<br>
  [DD]-Damn anad Diu<br>
  [DL]-Delhi<br>
  [GA]-Goa<br>
  [GJ]-Gujarat<br>
  [HR]-Haryana<br>

                </div>
                <div class="col-md-4">
                    [HP]-Himachal Predesh<br>
  [JK]-Jammu and Kashmir<br>
  [JH]-Jharkhand<br>
  [KA]-Karnataka<br>
  [KL]-Kerala<br>
  [LA]-Ladakh<br>
  [LD]-Lakshadweep<br>
  [MP]-Madhya Predesh<br>
  [MH]-Maharashtra<br>
  [MN]-Manipur<br>
  [ML]-Meghalaya<br>
  [MZ]-Mizoram<br>
                    
                </div>
                <div class="col-md-4">
                    [NL]-Nagaland<br>
  [OD]-Odisha<br>
  [PY]-Puducherry<br>
  [PB]-Punjab<br>
  [RJ]-Rajasthan<br>
  [SK]-Sikkim<br>
  [TN]-Tamil Nadu<br>
  [TS]-Telangana<br>
  [TR]-Tripura<br>
  [UP]-Uttar Predesh<br>
  [UK]-Uttarakhand<br>
  [WB]-West Bengal<br>
  [OT]-Other Territory<br>
                </div>
            </div><br><br>
            <p class="text-light">customer name should be given with salutaion  and the name and salutaion should be in uppercase<br>
              eg :MR. ADITHYA CHOPRA
          </p><br>
          <p class="text-light">Status should be given in one of the following format <br>
            Draft  <br>
            Sent
        </p><br>

        <p class="text-light">If you have IGST Tax ,then fill CGST and SGST filled with 0  <br>
          If you have CGST and SGST Tax ,then fill IGST filled with 0
          
      </p>
            </div>
          </div>
        </div>
        <a href="{% url 'downloadEstimateSampleImportFile' %}" class="text-primary" style="font-size:medium;">Download Sample File from here to avoid errors</a> <br>

        <form action="{% url 'import_estimate' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <h6 class="text-light">File</h6>
          <input type="file" name="excel_file" class="form-control" style="width: 50%;"><br>
          <button class="btn btn-outline-warning mt-3">IMPORT</button>
        </form> 
      </div>
    </div>
  </div>
</div>

<!-- ..........................................import modal end  ........................... -->

</section>
</div>
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>

<script>
  document.getElementById("exportBtn").addEventListener("click", function () {
  const Table = document.getElementById("estimates-table");
  const ws = XLSX.utils.table_to_sheet(Table);
  ws['!cols'] = [{ wch: 15 },{ wch: 15 },{ wch: 15 },{ wch: 15 },{ wch: 15 },{ wch: 15 }];
  ws['!rows'] = [{ hpt: 30 }];
  const wb = XLSX.utils.book_new();
  XLSX.utils.book_append_sheet(wb, ws, "Sheet1");
  XLSX.writeFile(wb, "credit_note.xlsx"); 
});

</script>




<script>
  var $rows = $('#table tr');
  $('#search').keyup(function() {
      var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
      
      $rows.hide().filter(function() {
          var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
          return ~text.indexOf(val);
      }).show();
  });

</script>

{% endblock %}