{% extends 'base.html' %}
{% block content %}
{% load static %}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<style>
  #over:hover{
    background-color: rgba(110, 110, 110, 0.616);
  }

  .dropdown-item:hover{
    color: chocolate;
  }

  #loantable tbody{
    cursor: pointer;
  }

  #loantable tbody tr {
    counter-increment: rowNumber;
  }

  #loantable tbody tr td:first-child::before {
    content: counter(rowNumber);
  }

  .modal-backdrop {
    z-index: -1;
  }
</style>

<div class="container-fluid">
  <div class="fixed-top" style="top: 7rem; margin-left: 18rem;">
    <div style="height: 600px;overflow-y: scroll;">
      <div class="row container-fluid">
        <div class="col-md-3"><a class="text-white" style="font-size: 2rem;">All Employee Loan</a></div>
        <div class="col-md-5"></div>
        <div class="col-md-3">
          <div class="d-flex" style="margin-left: 9vh; margin-top: 2vh;" >
            <a onclick="ExportToExcel()" class="btn text-center pt-2 btn-outline-warning d-flex" style="width: fit-content;">
              <i class='fas fa-file-export' style='font-size:20px'></i> <span style="margin-top: 3px;">Export</span>
            </a>
            <a data-toggle="modal" data-target="#importmodal" class="btn text-center pt-2 btn-outline-warning d-flex" style="width: fit-content; margin-left: 2vh;" onclick="sampleexcel()">
              <i class="fas fa-file-import" style='font-size:20px'></i> <span style="margin-top: 3px;">Import</span>
            </a>
          </div>
        </div>
      </div>    
      <br>
      <div class="row container-fluid mb-3">
        <div class="col-md-3"><input type="text" id="search" class="form-control bg-light text-dark" placeholder="Search.." autocomplete="off"></div>
        <div class="col-md-2">
          <div class="dropdown">
            <a class="btn text-center px-4 pt-2 btn-outline-warning" id="sortbutton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button" >
              <i  class="fas fa-sort m-1"></i>
            </a>
            <div class="dropdown-menu m-1">
              <a class="dropdown-item" href="{% url 'employee_list' %}">All</a>
              <a class="dropdown-item" onclick="sortTableName()">Employee Name</a>
              <a class="dropdown-item" onclick="sortTableLoan()">Loan Amount</a>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-3">
          <div class="dropdown d-flex">
            <a class="btn text-center px-4 pt-2 btn-outline-warning" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button" >
              <i class="fa fa-filter mt-1"></i>
            </a>
            <div class="dropdown-menu m-1">
              <a class="dropdown-item" onclick="applyFilter('All')">All</a>
              <a class="dropdown-item" onclick="applyFilter('Active')">Active</a>
              <a class="dropdown-item" onclick="applyFilter('Inactive')">Inactive</a>
            </div>
            <a style="height: 5vh; margin-left: 2vh;" class="btn btn-outline-warning text-right px-3 py-2" role="button" style="margin-left: 5px;" href="{% url 'create_loan' %}">
              <i class="fa fa-plus" style="font-size: large;"></i><span style="font-size: 3vh;">New</span>
            </a>
          </div>
        </div>
      </div>
      <br>
      <div class="row container-fluid">
        <div class="col-sm-12 col-md-11 col-lg-11">
          <table class="table  text-white" id="loantable">
            <thead>
              <tr>
                <th style="text-align: center;">#</th>
                <th style="text-align: center;">DATE</th>
                <th style="text-align: center;">EMPLOYEE NAME</th>
                <th style="text-align: center;">EMPLOYEE MAIL</th>
                <th style="text-align: center;">EMPLOYEE NUMBER</th>
                <th style="text-align: center;">LOAN AMOUNT</th>
                <th style="text-align: center;">EXPIRY DATE</th>
                <th style="text-align: center;">STATUS</th>
              </tr>
            </thead>
            <tbody>
              {% for employee in employees %}
                <tr id="over" class='clickable-row' data-href="{% url 'employee_loan_details' employee.loan_info.id %}">
                  <td style="text-align: center;"></td>
                  <td style="text-align: center;">{{employee.joindate | date:'d-m-Y'}}</td>
                  <td style="text-align: center;">{{employee.first_name}} {{i.last_name}}</td>
                  <td style="text-align: center;">{{employee.email}}</td>
                  <td style="text-align: center;">{{employee.emp_number}}</td>
                  <td style="text-align: center;">{{employee.loan_info.loan_amount }}</td>
                  <td style="text-align: center;">{{employee.loan_info.date_expiry | date:'d-m-Y'}}</td>
                  {% if employee.loan_info.active == 1 %}
                  <td style="text-align: center;">Active</td>
                  {% else %}
                  <td style="text-align: center;">Inctive</td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="row" hidden>
        <table id="employeeloanmodeltable">
          <thead>
            <th>EMP NUMBER</th>
            <th>EMAIL</th>
            <th>LOAN AMOUNT</th>
            <th>LOAN ISSUE DATE</th>
            <th>LOAN DURATION</th>
            <th>LOAN EXPIRY DATE</th>
            <th>PAYMENT METHOD</th>
            <th>PAYMENT ID</th>
            <th>PAYMENT TYPE</th>
            <th>PERCENTAGE</th>
            <th>MONTHLY CUTTING AMOUNT</th>
            <th>NOTE</th>
          </thead>
          <tbody>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Ex: 1 Year</td>
            <td></td>
            <td>Cash/UPI/Cheque/Bank Name</td>
            <td>UPI NO/Cheque NO/Bank Account NO</td>
            <td>Amount/Percentage</td>
            <td></td>
            <td></td>
            <td></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal fade" id="importmodal" style="margin-top: 7vh;">
    <div class="modal-dialog ">
      <div class="modal-content" style="background: rgb(32, 35, 37);border-radius: 20px;">
        <div class="modal-header">
          <h5 class="modal-title" id="excelModalLabel">Upload File
          <label for="" style="color: red; font-size: x-small;" >* Refer Downloaded Sheet For Format </label><br></h5>
          <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" style="font-size: x-large;">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="background: rgb(32, 35, 37);">
          <div class="card">
            <form action="" method="post" class="needs-validation" novalidate autocomplete="off" id="excelForm">
              {% csrf_token %}
              <div class="form-group mt-3" style="margin-left: 2vh;">
                <label for="file" style="font-size: medium;">Choose Excel File for Employee Loans- </label> <br><br>
                <input type="file" class="form-control-file" id="loanfile" name="loanfile" accept=".xls, .xlsx"><br>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn text-center pt-2 btn-outline-warning" onclick="uploadFile()" data-dismiss="modal">Upload</button>
                <button type="button" class="btn text-center pt-2 btn-outline-warning" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>  
  </div>  
</div>

<script>
  function sortTableName() {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("loantable");
    switching = true;
    while (switching) {
      switching = false;
      rows = table.rows;
      for (i = 1; i < rows.length - 1; i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("td")[2];
        y = rows[i + 1].getElementsByTagName("td")[2];
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      }
      if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
      }
    }
  }

  function sortTableLoan() {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("loantable");
    switching = true;
    while (switching) {
      switching = false;
      rows = table.rows;
      for (i = 1; i < rows.length - 1; i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("td")[5];
        y = rows[i + 1].getElementsByTagName("td")[5];
        if (parseInt(x.innerHTML) > parseInt(y.innerHTML)) {
          shouldSwitch = true;
          break;
        }
      }
      if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
      }
    }
  }
</script>

<script>
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
      window.location = $(this).data("href");
    });
  });
</script>

<script>
  var $rows = $('table tbody tr');
  $('#search').keyup(function() {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
    $rows.hide().filter(function() {
      var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
      return ~text.indexOf(val);
    }).show();
  });
</script>

<script>
  function applyFilter(currentFilter) {
    var rows = $("#loantable tbody tr");
    rows.show();
    if (currentFilter === "Active" || currentFilter === "Inactive") {
      rows.filter(":not(:contains('" + currentFilter + "'))").hide();
    }
  }
</script>

<script>
  function ExportToExcel(){
    var tableData = $("#loantable tbody tr:visible").map(function(index) {
      return {
        "#": index + 1, 
        "DATE": $(this).find("td:eq(1)").text(),
        "EMPLOYEE NAME": $(this).find("td:eq(2)").text(),
        "EMPLOYEE MAIL": $(this).find("td:eq(3)").text(),
        "EMPLOYEE NUMBER": $(this).find("td:eq(4)").text(),
        "EMPLOYEE LOAN": $(this).find("td:eq(5)").text(),
        "EXPIREY DATE": $(this).find("td:eq(6)").text(),
      };
    }).get();
    var ws = XLSX.utils.json_to_sheet(tableData);
    const wb = XLSX.utils.book_new();
    XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
    XLSX.writeFile(wb, 'EmployeeLoan.xlsx');
  }
</script>

<script>
  function sampleexcel(){
    const table1 = document.querySelector('#employeeloanmodeltable');
    const ws1 = XLSX.utils.table_to_sheet(table1);
    const wb1 = XLSX.utils.book_new();
    XLSX.utils.book_append_sheet(wb1, ws1, 'Sheet1');
    XLSX.writeFile(wb1, 'EmployeLoanModel.xlsx');
  }
</script>

<script>
  function uploadFile() {
    const form = document.getElementById('excelForm');
    const formData = new FormData(form);
      
    fetch('/import_employee_loan_details', {
      method: 'POST',
      body: formData
    })
    .then(response => {
      if (!response.ok) {
         throw new Error(`HTTP error! Status: ${response.status}`);
      }
      return response.json();
    })
    .then(jsonResponse => {
      if (jsonResponse.message) {
        swal({
            title: 'Error',
            text: jsonResponse.message,
            icon: 'error',
            buttons: false,
        });
      } else {
        swal({
            title: 'Imported!',
            text: jsonResponse.success,
            icon: 'success',
            buttons: false,
        });
      }
    })
    .then(response => {
      setTimeout(function () {
        location.reload();
      }, 1500);
    })
  }
</script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous">
</script>
{% endblock %}