{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .tr{
        cursor: pointer;
    }

    @media print{
    body{
        visibility: hidden;
    }

    #printtable{
        visibility: visible;
        width: auto;
        height: auto;
        margin-top: -600px;
        margin-left: -100px;
    }
}
h2{
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma,;
    color:#dfe4e9;
  }
  .card{
        background: none;
    }
    tbody tr td{
        border: none;
        border-top: none;
        border-style: none;
        color:azure;
        justify-content: center;
    }
 

tr:hover {
  background-color : rgb(94, 94, 101);
  color: aliceblue;
cursor: pointer
}
    .btn {
  background-color: white;
  border: none;
  color: green;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: white;
}

</style>
<style>
    .bar {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .bar .left {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .bar .left input {
        height: 5vh;
    }

    .hidden {
        display: none;
    }

    @media print and (color) {
        * {
            -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
        }
    }
</style>

<div class="page-content">
    <div class="card-body">
        <div class="bar">
          <div class=" left">
            
     </div>    
      <div class="d-flex">
          
              <a  id="myBtn" class="btn btn-outline-info text-grey"
                   onclick="graphdiv()"><i class="fa fa-line-chart" style="background: white; color: rgb(218, 164, 48);"></i></a>
                   &nbsp;&nbsp;
         
            
        <button class="btn btn_print btn-outline-info" style="background: white; color: rgb(218, 164, 48);"><i class="fa fa-print"></i></button>&nbsp;&nbsp;
    
         
            <button class="btn btn_pdf btn-outline-info" style="background: white; color: rgb(218, 164, 48);">  <i class="fa fa-file-pdf"></i>    
          </button>&nbsp;&nbsp;
           <button class=" btn btn-outline-info" id="export-button" onclick="exportAsExcel()"  class="dropdown-item"  style="background: white; color: rgb(218, 164, 48);">   <i class="fa fa-file-excel"></i></button>&nbsp;&nbsp;
           
       
          
      <button class="btn" ><a  href="{% url 'report_inventory_view' %}" class="fa fa-close" style="background: white; color: rgb(218, 164, 48);"></a></button>&nbsp;&nbsp;
    </div>
    
    </div>
  </div>
     


    <div class="card radius-15">
        <div class="card-body">
            <div class="card-title">
                <center><h2 class="mb-0" style="font-size: 35px;color: rgb(218, 164, 48);">{{ company.company_name  }}</h2></center><br>
                <center><label  id="headline" style="font-size: 40px;color: rgb(218, 164, 48);">INVENTORY DETAILS</label></center>
                <center><p id="hdate" style="font-size: 20px;color: rgb(218, 164, 48);"></p></center>
            </div>
        
        </div>
    </div>


    <div class="card radius-15">
   
            <form action="" method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-4">
                        <label for="Between">From</label> &nbsp;
                        <input type="date" name="fromdate" id="fromdate"  style="width: 35%; border-radius: 8px;padding: 5px; border: 3px solid rgb(200, 166, 104);"> 
                        <label for="To">To</label>
                        <input type="date" name="todate" id="todate" style="width: 35%; border-radius: 8px;padding: 5px; border: 3px solid rgb(200, 166, 104);" >  &nbsp;
                    </div>  
                </div>
                <hr/>
                  
    <div class="card radius-15 p-5" id="graph_div" style="display: none;background-color: #303232; color:rgb(218, 164, 48) ;">
      
            <canvas id="salesChart"></canvas>
        </div>
    </div>
    <div class="card radius-15 p-5" id="sales_div">
    <div class="row">
        <div class="col-md-4">
            <input type="text"name="party" list="party" id="search" placeholder="Search..." class="form-control" autocomplete="off" 
            style="color: rgb(255, 255, 255);background: transparent;width: 20vw;">
            <datalist id="party" >
                {% for i in item %}
                 <option value="{{i.Name}}">
                    {% endfor %}
                 
            </datalist>
        </div></form>
   
     
            <div class="row">
                <div class="col-md-12" id="saletable">
                   
                    <div  id="pdf-card"> 
                          
                       
                        <div class="table-responsive" style="margin-top: 100px;">
                            <p style="text-align: right;color: black; display: none;" id="datediv">
                                <span style="font-weight: bold;" >From Date : <span id="from"></span> </span><br> 
                                <span style="font-weight: bold;" >To Date : <span id="to"></span></span>
                              </p>
                            <table class="table table-responsive-md mt-4 table-bordered" id="saletable" >
                                <thead>
                                    <tr>
                                        
                                        <th style=" color: rgb(218, 164, 48);">Date</th>
                                        <th class="table" style="color: rgb(218, 164, 48);text-align: center;">Type</th>
                                     
                                        <th class="table" style=" color: rgb(218, 164, 48);">Sale Quantity</th>
                                        <th style="display: none;" ></th>
                                        <th class="table" style=" color: rgb(218, 164, 48);">Purchase Quantity	</th>
                                        <th class="table" style="color: rgb(218, 164, 48);">Adjustment Quantity	</th>	
                                        <th class="table" style="color: rgb(218, 164, 48);">Closing Quantity</th>
                                       
                                        
                                    </tr>
                                </thead>
                                <tbody id="tb">
                                    {% for p in inv %} 
                                    <tr class="text-center" id="tb">
                                 
                                                      
                                  
                                                 
                                      <td>{{p.inv.inv_date| date:'Y-m-d' }}</td>
                                      <td>Invoice</a></td>     
                                      
                                   
                                      <td>{{p.quantity}}</td>
                                      <td id="tb" style="display: none;" >{{p.product}}</td> 
                                    
              
                                      <td>0</td>
                                     
                                     
                                      <td class="text-right">{{p.aditem}}
                                     </td>
                                      <td>{{p.close}}</td>
                              
                                    </tr>  
                                    {% endfor %} 
                                    {% for p in recur %} 
                                                        
                                      <tr class="text-center" id="tb">
                                 
                                        <td >{{p.ri.start| date:'Y-m-d'}}</td>
                                       
                                     
                                        <td>Recurring_Invoice</a></td>     
                                        
                                     
                                        <td>{{p.quantity}}</td>
                                        <td style="display: none;" id="tb">{{p.iname}}</td>              
                                        <td>0</td>
                                        <td>{{p.aditem}}</td>
                                        <td>{{p.close}}</td>
                                
                                      </tr>  
                                        {% endfor %} 
                                        {% for p in estim %} 
                                                        
                                        <tr class="text-center" id="tb">
                                   
                                      
                                        
                                          <td>{{p.estimate.estimate_date| date:'Y-m-d'}}</td>
                                          <td>Estimates</a></td>     
                                          
                                       
                                          <td>{{p.quantity}}</td>
                                          <td style="display: none;" id="tb">{{p.item_name}}</td>              
                                       
                                          <td>0</td>
                                          <td>{{p.aditem}}</td>
                                        
                                          <td>{{p.close}}</td>
                                  
                                        </tr>  
                                          {% endfor %} 
                
                                          {% for p in sale %} 
                                                        
                                          <tr class="text-center" id="tb">
                                     
                                        
                                                      
                                            <td>{{p.sale.sales_date| date:'Y-m-d'}}</td>
                                            <td> Sales_Order</a></td>     
                                            
                                         
                                            <td>{{p.quantity}}</td>
                                            <td style="display: none;" id="tb">{{p.product}}</td>   
                                         
                                            <td>0</td>
                                            <td>{{p.aditem}}</td>
                                             <td>{{p.close}}</td>
                                    
                                          </tr>  
                                            {% endfor %} 
                                            {% for p in challan %} 
                                                        
                                            <tr class="text-center" id="tb">
                                       
                                          
                                                       
                                              <td>{{p.chellan.chellan_date| date:'Y-m-d'}}</td>
                                              <td>Delivery_Chellan</a></td>     
                                              
                                           
                                              <td>{{p.quantity}}</td>
                                              <td style="display: none;" id="tb">{{p.item_name}}</td> 
                                           
                                              <td>0</td>
                                              <td>{{p.aditem}}</td>
                                              <td>{{p.close}}</td>
                                      
                                            </tr>  
                                              {% endfor %} 
                                             
                                              {% for i in credit %}          
                                              <tr class="text-center" id="tb">
                                         
                                            
                                                            
                                                <td>{{i.creditnote.creditnote_date| date:'Y-m-d'}}</td>
                                                <td>Credit_Note</a></td>     
                                                
                                             
                                                <td>0</td>
                                                <td  style="display: none;" id="tb">{{i.item_name }}</td> 
                                             
                                                <td>{{i.quantity}}</td>
                                                <td>{{i.aditem}}</td>
                                                <td>{{i.close}}</td>
                                        
                                              </tr>  
                                                {% endfor %} 
                                              {% for p in pars %} 
                                        <tr class="text-center"  id="tb">
                                     
                                                          
                                      
                                                    
                                          <td>{{p.PO.Ord_date| date:'Y-m-d'}}</td>
                                          <td>Purchase_Order</td>     
                                          
                                       
                                          <td>0</td>
                                          <td  style="display: none;" id="tb">{{p.item}}</td>   
                                       
                                          <td>{{p.quantity}}</td>
                                          <td>{{p.aditem}}</td>
                                          <td>{{p.close}}</td>
                                  
                                        </tr>  
                                          {% endfor %} 
                                          
                                          {% for p in vencredit %} 
                                          <tr class="text-center"  id="tb">
                                       
                                                            
                                        
                                            <td  style="display: none;" id="tb">{{p.product}}</td>              
                                            <td>{{p.inv.vendor_date| date:'Y-m-d'}}</td>
                                            <td>Vendor_Credits</td>     
                                            
                                         
                                            <td>{{p.quantity}}</td>
                                            <td  style="display: none;" id="tb">{{p.product}}</td>  
                                         
                                            <td>0</td>
                                            <td>{{p.aditem}}</td>
                                            <td>{{p.close}}</td>
                                    
                                          </tr>  
                                            {% endfor %} 
                
                                            {% for p in bills %} 
                                            <tr class="text-center"  id="tb">
                                         
                                                              
                                          
                                                         
                                              <td>{{p.purchase_bill.bill_date| date:'Y-m-d'}}</td>
                                              <td>Bills</td>     
                                              
                                           
                                              <td>0</td>
                                         
                                              <td  style="display: none;" id="tb">{{p.item_name}}</td> 
                                              <td>{{p.quantity}}</td>
                                              <td>{{p.aditem}}</td>
                                              <td>{{p.close}}</td>
                                      
                                            </tr>  
                                              {% endfor %} 
                
                                              {% for p in recubills %} 
                                              <tr class="tr" >
                                           
                                                     
                                                <td>{{p.recur_bills.start_date| date:'Y-m-d'}}</td>
                                                <td>Recurring_Bills</td>     
                                                
                                             
                                                <td>0</td>
                                           
                                                <td  style="display: none;" id="tb">{{p.item}}</td>   
                                                <td>{{p.quantity}}</td>
                                                <td>{{p.aditem}}</td>
                                                <td>{{p.close}}</td>
                                        
                                              </tr>  
                                                {% endfor %} 
                                                {% for p in vendorbill %} 
                                                <tr class="text-center"  id="tb">
                                             
                                                                  
                                              
                                                  <td>{{p.recur_bills.vendor_date| date:'Y-m-d'}}</td>
                                                  <td>Vendor_Credits_Bills</td>     
                                                  
                                               
                                                  <td>0</td>
                                                  <td  style="display: none;" id="tb">{{p.item}}</td>              
                                              
                                               
                                                  <td>{{p.quantity}}</td>
                                                  <td>{{p.aditem}}</td>
                                                  <td>{{p.close}}</td>
                                          
                                                </tr>  
                                                  {% endfor %}
                                    </tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
const ctx = document.getElementById('salesChart').getContext('2d');

const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [],
        datasets: [{
            label: 'Data',
            data: [],
            backgroundColor: 'rgb(218, 164, 48)',
            borderColor: 'rgb(218, 164, 48)',
            borderWidth: 1,
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

function addDataPoint() {
    const tableData = extractDataFromTable();
    const dates = tableData.map(item => item.date);
    const sales = tableData.map(item => item.sales); 

    var fromDate = document.getElementById('fromdate').value;   
    var toDate = document.getElementById('todate').value;
    if(dates[0] != fromDate){
      dates.unshift(fromDate)
      sales.unshift(null)
    }
    if(dates[dates.length - 1] != toDate){
      dates.push(toDate)
      sales.push(null)
    }

    myChart.data.labels = dates;
    myChart.data.datasets[0].data = sales;
    // Redraw the chart
    myChart.update();
}

function graphdiv(){
    $('#graph_div').toggle();
    $('#sales_div').toggle();
    addDataPoint()
}

function extractDataFromTable() {
    const table = document.getElementById('tb');
    const rows = table.getElementsByTagName('tr');
    
    const data = [];
    
    for (let i = 0; i < rows.length; i++) {
        if (window.getComputedStyle(rows[i]).display !== 'none') {
            const cells = rows[i].getElementsByTagName('td');
            const date = cells[0].textContent;
            const sales = parseInt(cells[2].textContent);
            data.push({ date, sales });
        }
    }
    
    return data;
}
</script>

<script>
$(document).ready(function() {
    var $rows = $('.table tbody tr');
    $('#search').keyup(function() {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
        $rows.show().filter(function() {
            console.log($rows.show())

            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            console.log(text)
            return !~text.indexOf(val);
        }).hide();
    });
});
</script>


<script>
function ApplyDateFilter() { 

    var fromDate = document.getElementById('fromdate').value;
    var toDate = document.getElementById('todate').value;
    document.getElementById("datediv").style.display = "block";
    document.getElementById("from").innerHTML = fromDate;
    document.getElementById("to").innerHTML = toDate;
    document.getElementById("hdate").innerHTML = fromDate +" to " + toDate;
    table = document.getElementById("saletable");
    tr = table.getElementsByTagName("tr");
 
    for (i = 1; i < tr.length; i++) {
        let rowVisible = false;
        td = tr[i].getElementsByTagName("td");

        // Loop through all table cells (columns) in each row
        for (j = 0; j < td.length; j++) {
           
            if (td[j]) {
                txtValue = td[j].textContent || td[j].innerText;
                var check = new Date(txtValue)
                var from = new Date(fromDate);
                var to = new Date(toDate);
                if(check >= from && check <= to){
                    rowVisible = true;
                    break;
                }
            }
        }

        // Show/hide the row based on the search results
        tr[i].style.display = rowVisible ? "" : "none";
    }
}

</script>

<script>
const fromDateInput = document.getElementById("fromdate");
const toDateInput = document.getElementById("todate"); 
fromDateInput.addEventListener("change", ApplyDateFilter);
toDateInput.addEventListener("change", ApplyDateFilter);
fromDateInput.addEventListener("change", addDataPoint);
toDateInput.addEventListener("change", addDataPoint);
</script>

<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

<script type="text/javascript">
function ExportToExcel(type, fn, dl) {
var elt = document.getElementById('saletable');
var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
return dl ?
    XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
    XLSX.writeFile(wb, fn || ('sales_summary_report.' + (type || 'xlsx')));
}
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>

<script type="text/javascript">
$(document).ready(function ($) {
    $(document).on('click', '.btn_pdf', function (event) {
        event.preventDefault();
        var element = document.getElementById('saletable');  
        element.style.color = 'black';
        element.style.backgroundColor = 'white';
        var opt =
        {
            margin: 1,
            filename: 'sales_summary_report' + '.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait', }
        };
        html2pdf().set(opt).from(element).save();
    });
});
</script>

<script>
function printtable(){
    var printContents = document.getElementById("saletable").innerHTML;

    var $printerDiv = $('<div class="printContainer"></div>'); // create the div that will contain the stuff to be printed
    $printerDiv.html(printContents); // add the content to be printed
    $('body').append($printerDiv).addClass("printingContent"); // add the div to body, and make the body aware of printing (we apply a set of css styles to the body to hide its contents)

    window.print(); // call print
    $printerDiv.remove(); // remove the div
    $('body').removeClass("printingContent");
}
</script>

<script>
    $(document).ready(function ($) {

        $(document).on('click', '.btn_print', function (event) {
            console.log('print1');
            event.preventDefault();


            const pdfCard = document.getElementById('pdf-card').cloneNode(true);

            // Create a new window for printing
            const printWindow = window.open('', '');
            // pdfCard.style.color = 'black';
            // pdfCard.style.backgroundColor = '#243e54';
            var name = document.getElementById("headline").innerHTML;
            const pageTitle = printWindow.document.createElement('h1');
            pageTitle.textContent = name; // Replace 'Page Title' with your desired title text
            pageTitle.style.textAlign = 'center';
            pageTitle.style.color = 'black';

            // Append the <h1> element to the new window's body
            printWindow.document.body.appendChild(pageTitle);

            // Append the cloned 'pdf-card' div to the new window
            printWindow.document.body.appendChild(pdfCard);

            // Ensure the styles are preserved by copying CSS from the original document
            const stylesheets = document.styleSheets;
            for (let i = 0; i < stylesheets.length; i++) {
                const stylesheet = stylesheets[i];
                if (stylesheet.href) {
                    const link = printWindow.document.createElement('link');
                    link.rel = 'stylesheet';
                    link.href = stylesheet.href;
                    printWindow.document.head.appendChild(link);
                }
            }

            // Trigger the print dialog for the new window
            printWindow.print();

            // Close the new window after printing
            printWindow.close();


        });

    });
    $(document).ready(function ($) {


        $(document).on('click', '.btn_pdf', function (event) {
            console.log('print1');
            event.preventDefault();
            var name = document.getElementById("headline").innerHTML;
            var div2 = document.getElementById("div2");
            var element = document.getElementById('pdf-card');
            element.style.color = 'black';
            element.style.backgroundColor = 'rgb(107, 107, 113)';
            var opt =
            {
                margin: 1,
                filename: name + '.pdf',
                image: { type: 'png', quality: 1.0 },
                html2canvas: { scale: 3, useCORS: true, backgroundColor: null },
                jsPDF: { unit: 'in', format: 'a3', orientation: 'portrait' }
            };
            html2pdf().set(opt).from(element).save();

        });

    });
    function selectParty() {
        document.getElementById("search").addEventListener("input", function () {
            var filterValue = this.value.toLowerCase();
            var table = document.getElementById("saletable");
            var rows = table.getElementsByTagName("tr");

            
            if (document.getElementById("fromdate").value == '' && document.getElementById("todate").value == '') {
                for (var i = 1; i < rows.length; i++) { // Start from 1 to skip the table header row
                    
                    var firstColumnValue = rows[i].getElementsByTagName("td")[0].textContent.toLowerCase();

                    if (firstColumnValue.indexOf(filterValue) > -1) {

                        rows[i].style.display = "";
                    } else {
                        rows[i].style.display = "none";
                    }

                }

            }
            else {
                var startDate = new Date(document.getElementById("fromdate").value);
            var endDate = new Date(document.getElementById("todate").value);
                for (var i = 1; i < rows.length; i++) {
                    var firstColumnValue = rows[i].getElementsByTagName("td")[0].textContent.toLowerCase();
                    var row = rows[i];
                    var dateCell = row.cells[1];
                    var rowDate = new Date(dateCell.textContent);

                    if (rowDate >= startDate && rowDate <= endDate ) {
                        row.style.display = "";
                    } else {
                        row.style.display = "none";
                    }

                }
            }




        });
    }
    selectParty();
    const inputElement = document.querySelector('input[name="party"]');
    const headlineElement = document.getElementById('headline');
    inputElement.addEventListener('input', function () {

        const selectedValue = inputElement.value;
        if (selectedValue == '') {
            head = 'INVENTORY DETAILS'
        }
        else {
            head = selectedValue + ' DETAILS';
        }
        headlineElement.textContent = head.toUpperCase();

    });


    // calctot(4, 'balance');
</script>
<script type="text/javascript">
    function exportAsExcel() {
        const table = document.getElementById('saletable'); // Replace 'myTable' with your table's ID
        const wb = XLSX.utils.table_to_book(table);

        XLSX.writeFile(wb, 'Inventory Details.xlsx');
    }
</script>
{% endblock %}