{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<style>            
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 1px;
    margin: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  #th {
    background-color: #f2f2f2;
    color: black;
  }
  
  footer {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
    font-size: 0.8em;
    color: #888;
    margin-top: 20px;
  }
  
  footer p {
    margin: 5px 0;
  }
 
  .dropdown-item:hover{
    color: chocolate;
  }

  tr.clickable {
    cursor: pointer;
  }

  @media print{
    body{
      visibility: hidden !important; /* hide everything in body when in print mode*/
    }

    .printContainer {
      visibility: visible !important; /* Override the rule above to only show the printables*/
      position: absolute;
      z-index: 99999;
      top: 0;
      bottom: 0;
      width: 70vh;
      height: 100%;
    } 
  }

  .scrollable-table {
    max-height: 80%; 
    overflow-y: auto; 
  }

  .modal-backdrop {
    z-index: -1;
  }

  ::-webkit-scrollbar{
    display: none;
  }
</style>
    
<section >
  <div class="row fixed-top  " style="top: 7rem; margin-left: 15rem;position: fixed; ">
    <div class="col-md-12"  style="width: 100%;">
      <div class="row">
        <div class="col-md-3" style="border-right: 1px solid white; overflow-y: scroll; height: 84vh;">
          <div class="row">
            <div class="col-md-2">
              <a class="text-white" style="font-size: 1.5rem;">Employees</a>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-4">              
              <a style="width: 4rem;height: 2rem; width: fit-content;" class="btn btn btn-outline-warning text-right px-3 py-2 mt-1" href="{% url 'payroll_create' %}"><i class="fa fa-plus "></i>New</a>
            </div>
            <div class="col-md-12">
              <input type="text" id="search" class="form-control bg-light text-dark mt-2 " placeholder="Search.." autocomplete="off">
            </div>
            <div class="col-md-2">
              <div class="dropdown">
                <a class="btn text-center px-4 pt-1 mt-1 btn-outline-warning" id="sortbutton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button" style="width: 4rem;height: 2rem;">
                  <i  class="fas fa-sort m-1"></i>
                </a>
                <div class="dropdown-menu m-1">
                  <a class="dropdown-item" href="">All</a>
                  <a class="dropdown-item" onclick="sortTable()">Employee Name</a>
                  <a class="dropdown-item" onclick="sortTablebal()">Employee Salary</a>
                </div>
              </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-4">      
              <div class="dropdown">
                <a class="btn text-center pt-1 mt-1 btn-outline-warning" id="filterbutton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button" style="width: 4rem;height: 2rem; margin-left: 2vh;">
                  <i  class="fas fa-filter m-1"></i>
                </a>
                <div class="dropdown-menu m-1">
                  <a class="dropdown-item" onclick="applyFilter('All')">All</a>
                  <a class="dropdown-item" onclick="applyFilter('Active')">Active</a>
                  <a class="dropdown-item" onclick="applyFilter('Inactive')">Inactive</a>
                </div>
              </div>        
            </div>
          </div>   

          <div class="scrollable-table mt-3" >
            <table class="table  text-white" id="myTable">
              <tbody>
                {% for i in pay %}
                  <tr class="clickable" id="{{i.id}}">
                    <td class="justify-content-between align-items-center ">
                      <b style="font-size: large;">{{i.first_name}} {{i.last_name}}</b><br><br>
                      <label>{{i.joindate}} </label>
                    </td>
                    <td>
                      <label class="text-end d-block">{{i.status}}</label>
                      <br>
                      <label class="text-end d-block">₹{{i.salary}}</label>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div> 

        <div class="col-md-9 ml-1  mb-5 " id="overviewdiv">
          <div class="row">
            <div class="col-md-7" >
              <a class="text-white" style="font-size: 1.5rem;"><h2>{{p.first_name}} {{p.last_name}}</h2></a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2" >
              <a class="btn" style="background-color: chocolate; margin-right: 2vh;"><i class="fas fa-eye"></i> Overview</a>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-6" style="text-align: right; margin-left: 8vh;">
              <a href="{% url 'payroll_edit' p.id %}"  class=" text-dark" >
                <button class="btn btn-outline-warning"  title="Edit"><i class="fas fa-edit"></i></button>
              </a>
              <a  class="text-dark"  onclick="exportToPDF()" id="pdflink">
                <button class="btn btn-outline-warning"  title="Pdf"><i class="fas fa-file-pdf-o"></i></button>
              </a>
              <a class=" text-dark"  onclick="printSelectedArea()"  >
                <button class="btn btn-outline-warning"  title="Print"> <i class="fas fa-print"></i> </button> 
              </a>
              <a class="btn btn-outline-warning" href="" data-toggle="modal" data-target="#commentModal" data-toggle="tooltip" title="comment">
                <i class="far fa-comment"></i>
              </a>
              <a class="btn btn-outline-warning" href="" id="dd1" data-bs-toggle="dropdown" aria-haspopup="true"
                  data-toggle="tooltip" title="Download Attachments" aria-expanded="false" role="button">
                <i class="fas fa-download"></i>
              </a>
              <div class="dropdown-menu">
                {% if attach %}
                  <table class="table table-borderless">
                    {% for a in attach %}
                    <tr>
                      <td>{{forloop.counter}}.</td>
                      <td><a href="{% url 'file_download' a.id %}">{{a.attachment.name}}</a></td>
                      <td><a href="{% url 'deletefile' a.id %}"><i class="fas fa-trash"></i></a></td>
                    </tr>
                    {% endfor %}
                  </table>
                  {% else %}
                    <div class="text-center">No Attachment found</div>
                  {% endif %}
              </div>
              <label for="file-input" class="btn btn-outline-warning" data-toggle="tooltip" title="Upload Attachments">
                  <i class="fas fa-paperclip"></i>
              </label>
              <a href="" class="  text-dark" >
                <button class="btn btn-outline-warning"  title="Delete"><i class="fas fa-trash-alt"></i></button>
              </a>
              <input id="file-input" type="file" name="file" style="display:none;" onchange="uploadFile()">
              <a class="btn btn-outline-warning" href="{% url 'payroll_active' p.id %}" id="sts">{{p.status}}</a>
            </div>
          </div><br>

          <div id="printdiv" style="overflow-y: scroll; height: 71vh;">
            <div class="row" id="div-to-pdf" style="background-color: #ffddb0; margin-left:1px; margin-right: 1rem; ">
              <br>
              <div class="row">
                <div class="col-md-3 mt-3" >
                  <label style="font-size: medium; color: black;"><b>Name : {{p.first_name}} {{p.last_name}}</b></label><br>
                  <label style="font-size: medium; color: black;"><b>Position : {{p.designation}}</b></label>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-3 mt-3" style="text-align: right;">
                  <label style="font-size: medium; color: black;"><b>Emp No : {{p.emp_number}}</b></label><br>
                  <label style="font-size: medium; color: black;"><b>Join Date : {{p.joindate | date:'d-m-Y'}}</b></label>
                </div>
              </div>
              <div class="row text-center" style="margin-top: -4vh;">
                <h2 style="color: #000000;">
                  <br>
                  Employee Details
                  <hr>
                </h2>
              </div>
              <div class="gen-info col-6 " style="padding-left: 3rem; ">
                <div class="row mt-1">
                  <div class="col-2"></div>
                  <div class="col-6" style="text-align: center; ">
                    <a href=" " download>
                      <img class="img-fluid" src="{{p.image.url}}" alt="" width="150px" name="img">
                      <br><br>
                      <p style="color: black;">{{p.title}} &nbsp;{{p.first_name}} &nbsp;{{p.last_name}}
                        {% if p.alias %}
                          <br>
                          ( {{p.alias}} )
                        {% endif %}
                      </p>
                    </a>
                    <div class="col-3"></div>
                  </div>
                </div><br>
                <div class="row mt-1">
                  <div class="col-5"><label class="text-dark" for=""> Email : </label></div>
                  <div class="col-7">
                    <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;">{{p.email}}</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-5"><label class="text-dark" for="">Phone Number:</label></div>
                  <div class="col-7">
                    <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;">{{p.Phone}}</p>
                  </div>
                </div>
                {% if p.emergency_phone %}
                  <div class="row mt-3">
                    <div class="col-5"><label class="text-dark" for="">Emergency Number :</label></div>
                    <div class="col-7">
                      <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;">{{p.emergency_phone}}</p>
                    </div>
                  </div>
                {% endif %}
                <div class="row mt-3">
                  <div class="col-5"><label class="text-dark" for="">Location :</label></div>
                  <div class="col-7">
                    <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;">{{p.location}}</p>
                  </div>
                </div>
                <div class="h3 mt-4 text-black">Personal info
                  <hr>
                </div>
                <div class="row mt-3">
                  <div class="col-5"><label class="text-dark" for="">Gender :</label></div>
                  <div class="col-7">
                    <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;">{{p.gender}}</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-5"><label class="text-dark" for="">Age :</label></div>
                  <div class="col-7">
                    <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;">{{p.age}}</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-5"><label class="text-dark" for="">Blood Group :</label></div>
                  <div class="col-7">
                    <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;">{{p.blood}}</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-5"><label class="text-dark" for="">Date of Birth :</label></div>
                  <div class="col-7">
                    <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;">{{p.dob}}</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-5"><label class="text-dark" for="">Permanent Address :</label></div>
                  <div class="col-7">
                    <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;">{{p.permanent_address}}</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-5"><label class="text-dark" for="">Temporary Address :</label></div>
                  <div class="col-7">
                    <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;">{{p.address}}</p>
                  </div>
                </div>
                {% if p.parent %}
                  <div class="row mt-3">
                    <div class="col-5"><label class="text-dark" for="">Parent Name :</label></div>
                    <div class="col-7">
                      <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;">{{p.parent}}</p>
                    </div>
                  </div>
                {% endif %}
                {% if p.spouse_name %}
                  <div class="row mt-3">
                    <div class="col-5"><label class="text-dark" for="">Spouse Name :</label></div>
                    <div class="col-7">
                      <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;">{{p.spouse_name}}</p>
                    </div>
                  </div>
                {% endif %}
              </div>
              <div class="p-info col-6">
                <div class="card" style="background-color: rgb(110, 61, 46); padding-left: 1rem; padding-top: 1rem;">
                  <div class="h3 mt-4 text-white" style="margin-right: 2vh;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Salary Info
                    <hr>
                  </div>
                                            
                  <div class="row mt-2">
                    <div class="col-1"></div>
                    <div class="col-5"><label for="">Employee Salary :</label></div>
                    <div class="col-6">
                      <p class="bold">{{p.salary}}</p>
                    </div>
                  </div>
                                            
                  <div class="row mt-2">
                    <div class="col-1"></div>
                    <div class="col-5"><label for="">Salary Date Range :</label></div>
                    <div class="col-6">
                      <p class="bold">{{p.salaryrange}}</p>
                    </div>
                  </div>
                                        
                  <div class="row mt-2">
                    <div class="col-1"></div>
                    <div class="col-5"><label for="">Salary Type :</label></div>
                    <div class="col-6">
                      {% if p.salary_type == 'Variable' %}
                        <p class="bold">Time Based</p>
                      {% else %}
                        <p class="bold">{{p.salary_type}}</p>
                      {% endif %}
                    </div>
                  </div>
  
                  {% if p.salary_type == 'Variable' %}
                    <div class="row mt-2">
                      <div class="col-1"></div>
                      <div class="col-5"><label for="">Amount per Hour :</label></div>
                      <div class="col-6">
                        <p class="bold">{{p.amountperhr}}</p>
                      </div>
                    </div>
                                          
                    <div class="row mt-2">
                      <div class="col-1"></div>
                      <div class="col-5"><label for="">Total Work Hours :</label></div>
                      <div class="col-6">
                        <p class="bold">{{p.workhr}}</p>
                      </div>
                    </div>
                  {% endif %}
  
                  <div class="row mt-2">
                    <div class="col-1"></div>
                    <div class="col-5"><label for="">TDS Applicable :</label></div>
                    <div class="col-6">
                      <p class="bold">{{p.isTDS}}</p>
                    </div>
                  </div>
  
                  {% if p.isTDS != 'No' %}
                    <div class="row mt-2">
                      <div class="col-1"></div>
                      <div class="col-5"><label for="">TDS Amount :</label></div>
                      <div class="col-6">
                        <p class="bold">{{p.TDS}}</p>
                      </div>
                    </div>
                  {% endif %}
  
                  <div class="h3 mt-4 text-white" style="margin-right: 2vh;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutary Info
                    <hr>
                  </div>
                                            
                  <div class="row mt-2">
                    <div class="col-1"></div>
                    <div class="col-5"><label for="">Income Tax Number :</label></div>
                    <div class="col-6">
                      <p class="bold">{{p.ITN}}</p>
                    </div>
                  </div>
                                        
                  <div class="row mt-2">
                    <div class="col-1"></div>
                    <div class="col-5"><label for="">Aadhar Number :</label></div>
                    <div class="col-6">
                      <p class="bold">{{p.Aadhar}}</p>
                    </div>
                  </div>
                                        
                  <div class="row mt-2">
                    <div class="col-1"></div>
                    <div class="col-5"><label for="">Universal Account No :</label></div>
                    <div class="col-6">
                      <p class="bold">{{p.UAN}}</p>
                    </div>
                  </div>
                                            
                  <div class="row mt-2">
                    <div class="col-1"></div>
                    <div class="col-5"><label for="">PR Account No :</label></div>
                    <div class="col-6">
                      <p class="bold">{{p.PRAN}}</p>
                    </div>
                  </div>
                                                                
                  <div class="row mt-2">
                    <div class="col-1"></div>
                    <div class="col-5"><label for="">PF Account No:</label></div>
                    <div class="col-6">
                      <p class="bold">{{p.PFN}}</p>
                    </div>
                  </div>
  
                  {% for bank in b %}
                    <div class="h3 mt-4 text-white" style="margin-right: 2vh;">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bank Info
                      <hr>
                    </div>
                                                                                  
                    <div class="row mt-2">
                        <div class="col-1"></div>
                        <div class="col-5"><label for="">Bank Name:</label></div>
                        <div class="col-6">
                          <p class="bold">{{bank.bank_name}}</p>
                        </div>
                    </div>   
                                                                               
                    <div class="row mt-2">
                      <div class="col-1"></div>
                      <div class="col-5"><label for="">Account No:</label></div>
                      <div class="col-6">
                        <p class="bold">{{bank.acc_no}}</p>
                      </div>
                    </div>
                                                                                  
                    <div class="row mt-2">
                      <div class="col-1"></div>
                      <div class="col-5"><label for="">IFSC Code:</label></div>
                      <div class="col-6">
                        <p class="bold">{{bank.IFSC}}</p>
                      </div>
                    </div>
                                                                                  
                    <div class="row mt-2">
                      <div class="col-1"></div>
                      <div class="col-5"><label for="">Bank Branch:</label></div>
                      <div class="col-6">
                        <p class="bold">{{bank.branch}}</p>
                      </div>
                    </div>
                                                                                  
                    <div class="row mt-2">
                      <div class="col-1"></div>
                      <div class="col-5"><label for="">Transaction Type:</label></div>
                      <div class="col-6">
                        <p class="bold">{{bank.transaction_type}}</p>
                      </div>
                    </div>
                  {% endfor %}
                </div><br>
              </div>
            </div>       
          </div>
        </div>
        
        <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"  aria-hidden="true" style="margin-top: 8vh;">
          <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: #3b3b3b;">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Add Comments</h3>
                <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" style="font-size: x-large;">&times;</span>
                </button>
              </div>

              <form action="{% url 'add_payrollcomment' p.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                  <textarea type="text" class="form-control text-dark" name="comments"></textarea>
                  <div class="container-fluid">
                    <table class="table  text-white">
                      <thead>
                        <tr>
                          <th style="text-align: center; font-size: large;">sl no.</th>
                          <th style="text-align: center; font-size: large;">Comments</th>
                          <th style="text-align: center; font-size: large;">Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for c in com %}
                          <tr class="table-row">
                            <td style="text-align: center;">{{forloop.counter }}</td>
                            <td style="text-align: center;">{{c.comment}}</td>
                            <td style="text-align: center;">
                              <a class="text-danger" href="{% url 'delete_payrollcomment' c.id  %}"><i class="fa fa-trash" style="font-size:20px;"></i></a>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-outline-warning">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function exportToPDF(){
    var content = document.getElementById('div-to-pdf');
    content.style.height = 'auto';
    content.style.marginRight = '-1rem';
    html2pdf().from(content).save('Employee.pdf')
    setTimeout(function() {
      content.style.marginRight = '1rem';
    }, 1);
  }
</script>

<script>
  function printSelectedArea(area){
    var printContents = document.getElementById("printdiv").innerHTML;
    var $printerDiv = $('<div class="printContainer bg-white"></div>');
    $printerDiv.html(printContents);
    $('body').append($printerDiv).addClass("printingContent");
    window.print();
    $printerDiv.remove();
    $('body').removeClass("printingContent");
  }
</script>

<script>
  const rows = document.querySelectorAll('.clickable');
  rows.forEach(row => {
      row.addEventListener('click', () => {
        var currentURL = window.location.href
        const rowId = row.id;
        var newURL = currentURL.replace(/\d+$/, rowId);
        window.location.href = newURL;
      });
  });
</script>

<script>
  var $rows = $('#myTable tbody tr');
  $('#search').keyup(function() {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
    $rows.hide().filter(function() {
      var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
      return ~text.indexOf(val);
    }).show();
  });
</script>

<script>
  function sortTable() {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("myTable");
    switching = true;
    while (switching) {
      switching = false;
      rows = table.rows;
      for (i = 0; i < rows.length - 1; i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("b")[0];
        y = rows[i + 1].getElementsByTagName("b")[0];
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      }
      if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
      }
    }
  }

  function sortTablebal() {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("myTable");
    switching = true;
    while (switching) {
      switching = false;
      rows = table.rows;
      for (i = 0; i < (rows.length - 1); i++) {
        shouldSwitch = false;
        x = parseFloat(rows[i].getElementsByTagName("label")[2].textContent.replace('₹', '').trim());
        y = parseFloat(rows[i + 1].getElementsByTagName("label")[2].textContent.replace('₹', '').trim());
        if (x > y) {
          shouldSwitch = true;
          break;
        }
      }
      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
      }
    }
  }

  function applyFilter(currentFilter) {
    var rows = $("#myTable tbody tr");
    rows.show();
    if (currentFilter === "Active" || currentFilter === "Inactive") {
      rows.filter(":not(:contains('" + currentFilter + "'))").hide();
    }
  }
</script>



{% endblock %}
