{% extends 'base.html' %}
{%load static%}
{% load social_share %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/print-js/1.6.0/print.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
<style>
    input[type="date"]::-webkit-calendar-picker-indicator {
        background-color: white;
    }
    a {
        list-style: none;
        color: azure;
    }
    .statement_table table {
        width: 100%;
        border-collapse: collapse;
    }
    .statement_table th{
        font-weight: 500;
    }
    
    .statement_table th, td {
        padding: 10px 3px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }


    /* a:hover {
        color: rgb(218, 164, 48);
        text-decoration: none;
    } */

    /* .tab a {

        font-family: inherit;
        background-color: inherit;
        float: left;
        outline: none;
        cursor: pointer;
        padding: 10px 5px;
        transition: 0.3s;
        color: azure;
        border: none;
    } */

    /* .btn{
        color: rgb(218, 164, 48);
        outline-color: azure;
        border: 2px solid rgb(167, 122, 24);
    }

    .btn:hover{
        color: white;
        background-color: rgb(167, 117, 10);
        outline: none;   
    } */

    .modal{
      z-index: 9999;
      overflow: scroll;
    }
    .trns_inp{
        height: 2rem;
    }
    .whatsapp-this a {
        padding-left: 1rem;
    }

</style>

<div class="container-fluid">
    <div class="row">
        <!-- Left Side: Table -->
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 py-2">
                    <a class="text-white" style="font-size: 1.5rem;">All Loan Accounts</a>
                </div>
            </div>
        
            <div class="row mt-3">
                <div class="col-md-8">
                    <input type="text" id="search" placeholder="Search..." class="form-control text-dark bg-light" autocomplete="off">
                </div>
                <div class="col-md-4 d-flex justify-content-end align-items-center">
                    <a class="btn btn-outline-warning mx-1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button"><i class="fa fa-filter mt-0 mx-1 "></i></a>
                    <div class="dropdown-menu ">
                        <a class="dropdown-item text-white" href="{% url 'loanAccountNameAsc' account.id %}">Name A-Z</a>
                        <a class="dropdown-item text-white" href="{% url 'loanAccountNameDesc' account.id %}">Name Z-A</a>
                    </div>
                    <a class="btn btn-outline-warning mr-1" role="button" href="{%url 'addLoanAccount'%}"><i class="fa fa-plus"></i>
                        <span class="mt-2"></span>
                    </a>
                </div>
            </div>
        
            <div class="row mt-3">
                <div class="col-md-12" style= "overflow-y: auto;">
                    <table class="table table-responsive text-white" id="table">
                        <thead>
                            <tr>
                                <th class="text-white fs-5">Holder Name</th>
                                <th class="text-white fs-5">Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in all_loan_accounts %}
                            <tr style="cursor: pointer;" onclick="window.location.href=`{% url 'viewLoanAccount' item.id %}`">
                                <td>{{item.acc_name}}</td>
                                <td>{{item.balance}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="transactions_section" id="transactionSection" style="display: block;">
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-start align-items-start p-2 gap-2">
                        <a class="btn text-white" style="background-color: chocolate; border: none;"><i class="fas fa-arrows-alt-h me-1"></i>Transactions</a>
                        <a class="btn" style="background-color: white; border: none; color: #000;" onclick="showStatements()"><i class="fas fa-file-alt me-1"></i>Statement</a>
                    </div>
                
                    <div class="col-md-6 d-flex justify-content-end align-items-start p-2 gap-2">
                        <a class="btn btn-outline-warning" href="{% url 'editLoanAccount' account.id %}">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="{% url 'deleteLoanAccount' account.id %}">
                            <button class="btn btn-outline-warning" onclick="return confirm('Are you sure you want to delete this Loan Account.?')"><i class="fa fa-trash"></i></button>
                        </a>
                        <a class="btn btn-outline-warning" data-bs-toggle="dropdown" aria-haspopup="true" id="paymentDropdown" aria-expanded="false" role="button">Payment</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item text-white" href="#makePayment" data-bs-toggle="modal">Make a payment</a>
                            <a class="dropdown-item text-white" href="#additionalLoan" data-bs-toggle="modal">Additional Loan</a>
                        </div>
                        {% if account.status == 'Inactive' %}
                        <a class="btn btn-outline-warning" href="{% url 'loanAccountStatusActive' account.id %}"  id="inactiveButton">Inactive</a>
                        {% elif account.status == 'Active' %}
                        <a class="btn btn-outline-warning" href="{% url 'loanAccountStatusInactive' account.id %}"  id="activeButton">Active</a>
                        {% endif %}
                
                    </div>
                </div>
                <div class="card border-0" style="background-color: transparent;">
                    <div class="card-header p-0">
                        <div class="row pt-3">
                            <div class="col-6 d-flex justify-content-between">
                                <p>Name:</p>
                                <span class="fw-bold fs-5 text-warning">{{account.acc_name}}</span>
                            </div>
                            <div class="col-6 d-flex justify-content-between">
                                <p>Lender Bank:</p>
                                <span>{{account.lender_bank}}</span>
                            </div>
                            <div class="col-6 d-flex justify-content-between">
                                <p>Account #:</p>
                                <span>{{account.acc_number}}</span>
                            </div>
                            <div class="col-6 d-flex justify-content-between">
                                <p>Balance:</p>
                                <span>{{account.balance}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="row pt-3">
                            <div class="col-12 d-flex justify-content-between">
                                <h3 class="mt-2 mb-3">Transactions</h3>
                            </div>
                            <div class="col-md-12 d-flex justify-content-between">
                                <div class="col-md-5">
                                    <input type="text" id="trans_table_search" placeholder="Search..." class="trns_inp form-control text-white bg-transparent" autocomplete="off">
                                </div>
                                <div class="col-md-5">
                                    <form action="{% url 'transactionsInBetween' account.id %}" method="get" class="form d-flex align-items-center" id="trans_filter_form">
                                        <input type="date" name="trans_from_date" value="{{from}}" class="form-control trns_inp text-white trans_date_inputs bg-transparent" id="transFromDate" style="font-size: 0.85rem;">
                                        <label for="" class="mx-1">TO</label>
                                        <input type="date" name="trans_to_date" value="{{to}}" class="form-control trns_inp text-white trans_date_inputs bg-transparent" id="transToDate" style="font-size: 0.85rem;">
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-12 mt-4" style= " max-height: 60vh;overflow-y: auto;">
                                <table class="table table-responsive text-white" id="transactionsTable">
                                    <thead>
                                        <tr>
                                            <th class="text-white">Name</th>
                                            <th class="text-white">Type</th>
                                            <th class="text-white">Date</th>
                                            <th class="text-white">Principal</th>
                                            <th class="text-white">Interest</th>
                                            <th class="text-white">Total Amount</th>
                                            <th class="text-white"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in transactions %}
                                        <tr>
                                            <td>{{item.loan_account.acc_name}}</td>
                                            <td>{{item.type}}</td>
                                            <td>{{item.date}}</td>
                                            <td>{{item.principal}}</td>
                                            <td>{{item.interest}}</td>
                                            <td>{{item.total}}</td>
                                            <td>
                                                {% if item.type != 'Opening Loan' %}
                                                <a class="" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button"><i class="fas fa-ellipsis-v text-white"></i></a>
                                                <div class="dropdown-menu ">
                                                    <a class="dropdown-item text-white" href="{% url 'editLoanAccountTransaction' item.id %}">Edit</a>
                                                    <a class="dropdown-item text-white" href="{% url 'deleteLoanAccountTransaction' item.id %}" onclick="return confirm('Are you sure you want to delete this transaction.?')">Delete</a>
                                                </div>
                                                {% else %}
                                                <a class="" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button"><i class="fas fa-ellipsis-v text-white"></i></a>
                                                <div class="dropdown-menu ">
                                                    <a class="dropdown-item text-white" href="javascript:void(0);" onclick="alert('Opening Loan cannot edit here.. Go to edit Loan account section.!')">Edit</a>
                                                    <a class="dropdown-item text-white" href="javascript:void(0);" onclick="alert('Opening Loan cannot delete here.. Try delete Loan account option.!')">Delete</a>
                                                </div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="statement_section" id="statementSection" style="display: none;">
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-start align-items-start p-2 gap-2">
                        <!-- <a class="p-1 text-white" role="button"  style="background-color: #6e727bfa;" onclick="showTransactions()"><i class="fas fa-arrows-alt-h me-1"></i>Transactions</a> -->
                        <!-- <a class="p-1 text-white" role="button"  style="background-color: orange;"><i class="fas fa-file-alt me-1"></i>Statement</a> -->
                        <a class="btn" style="background-color: white; border: none; color: #000;" onclick="showTransactions()"><i class="fas fa-arrows-alt-h me-1"></i>Transactions</a>
                        <a class="btn text-white" style="background-color: chocolate; border: none; color: #000;"><i class="fas fa-file-alt me-1"></i>Statement</a>
                    </div>
                
                    <div class="col-md-6 d-flex justify-content-end align-items-start p-2 gap-2">
                        <a data-bs-toggle="dropdown" aria-haspopup="true" class="btn btn-outline-warning" href="#">
                            <i class="fa fa-share-alt"></i>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item text-white">{% post_to_whatsapp object_or_url "WhatsApp" %}</a>
                            <a class="dropdown-item text-white" data-bs-toggle="modal" data-bs-target="#shareToEmail" style="cursor: pointer;">Mail</a>
                        </div>
                        <a title="PRINT" class="btn btn-outline-warning" onclick="templatePrint()" href="#">
                            <i class="fa fa-print"></i>
                        </a>
                        <a title="PDF" class="btn btn-outline-warning" onclick="exportToPDF()" href="#">
                            <i class="fa fa-file-pdf"></i>
                        </a>
                        {% if account.status == 'Inactive' %}
                        <a class="btn btn-outline-warning" href="{% url 'loanAccountStatusActive' account.id %}"  id="inactiveButton">Inactive</a>
                        {% elif account.status == 'Active' %}
                        <a class="btn btn-outline-warning" href="{% url 'loanAccountStatusInactive' account.id %}"  id="activeButton">Active</a>
                        {% endif %}
                
                    </div>
                </div>
                <div class="card border-0 bg-transparent">
                    <!-- <div class="card-header p-0" style="background-color: rgb(75, 75, 75);">
                        <div class="row pt-3">
                            <div class="col-6 d-flex justify-content-between">
                                <p>Name:</p>
                                <span class="fw-bold fs-5 text-warning">{{account.acc_name}}</span>
                            </div>
                            <div class="col-6 d-flex justify-content-between">
                                <p>Lender Bank:</p>
                                <span>{{account.lender_bank}}</span>
                            </div>
                            <div class="col-6 d-flex justify-content-between">
                                <p>Account #:</p>
                                <span>{{account.acc_number}}</span>
                            </div>
                            <div class="col-6 d-flex justify-content-between">
                                <p>Balance:</p>
                                <span>{{account.balance}}</span>
                            </div>
                        </div>
                    </div> -->
                    <div class="card-body p-0">
                        <div class="row pt-3">
                            <!-- <div class="col-12 d-flex justify-content-between">
                                <h4 class="mt-2 mb-3">Statement</h4>
                            </div> -->
                            <div class="col-md-12 d-flex justify-content-end">
                                <!-- <div class="col-md-5">
                                    <input type="text" id="stmnt_table_search" placeholder="Search..." class="trns_inp form-control text-dark bg-light" autocomplete="off">
                                </div> -->
                                <div class="col-md-5">
                                    <form action="{% url 'transactionsInBetween' account.id %}" method="get" class="form d-flex align-items-center" id="stmnt_filter_form">
                                        <input type="date" name="trans_from_date" value="{{from}}" class="bg-transparent form-control trns_inp text-white stmnt_date_inputs" id="stFromDate" style="font-size: 0.85rem;">
                                        <label for="" class="mx-1">TO</label>
                                        <input type="text" name="statement"hidden>
                                        <input type="date" name="trans_to_date" value="{{to}}" class="bg-transparent form-control trns_inp text-white stmnt_date_inputs" id="stToDate" style="font-size: 0.85rem;">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- statement template -->

                <section id="statementTemplate" style="background-color: rgb(255, 221, 176);" class="p-2 mt-3">
                    <header style="	background-color: #8b3131; border-radius: 0.6rem;" class="py-3 d-flex justify-content-center">
                        <div class="acc_status col-md-4 d-flex align-items-center">
                            <span class="px-3 py-2 ms-2 text-white" style="background-color: #964848;">{{account.status}}</span>
                        </div>
                        <div style="background: #8b3131;color: white;" class="company-info text-center col-md-4">
                            {% if company.profile_pic %}<img class="ms-2 img-fluid" style="border-radius: 50%; width: 3rem;" src="{{company.profile_pic.url}}" alt="Company Logo">{% endif %}
                            <h4 class="text-white mb-0">{{company.company_name}}</h4>
                            <p class="text-white mb-0"> {{company.address}} - {{company.city}}</p>
                            <p class="text-white mb-0">{{company.company_email}}</p>
                            <p class="text-white mb-0">{{company.contact_number}}</p>
                        </div>
                        <div class="col-md-4"></div>
                    </header>
                    <div class="statement-container pt-3 px-1">
                        <h3 class="text-dark">Statement</h3>
                        <div class="statement-header pt-3">
                            <div class="statement-details text-dark">
                                <table>
                                    <tr>
                                        <td class="table-cell text-black" style="border: none;">Name</td>
                                        <td class="table-cell text-black" style="border: none;">:</td>
                                        <td class="table-cell text-black" style="border: none;">{{account.acc_name}}</td>
                                    </tr>
                                    <tr>
                                        <td class="table-cell text-black" style="border: none;">Account #</td>
                                        <td class="table-cell text-black" style="border: none;">:</td>
                                        <td class="table-cell text-black" style="border: none;">{{account.acc_number}}</td>
                                    </tr>
                                    <tr>
                                        <td class="table-cell text-black" style="border: none;">Balance</td>
                                        <td class="table-cell text-black" style="border: none;">:</td>
                                        <td class="table-cell text-black" style="border: none;">{{account.balance}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="statement_table my-2">
                            <table class="text-dark" id="statementTable" style="width: 100%;">
                                <thead class="bg-light">
                                    <tr>
                                        <th class="text-dark">Date</th>
                                        <th class="text-dark">Type</th>
                                        <th class="text-dark">Name</th>
                                        <th class="text-dark">Principal</th>
                                        <th class="text-dark">Interest</th>
                                        <th class="text-dark">Total Amount</th>
                                        <th class="text-dark">Balance</th>
                                    </tr>
                                </thead>
                                <tbody class="bg-transparent">
                                    {% for item in transactions %}
                                    <tr style="border-color: lightgray;">
                                        <td>{{item.date}}</td>
                                        <td>{{item.type}}</td>
                                        <td>{{item.loan_account.acc_name}}</td>
                                        <td>{{item.principal}}</td>
                                        <td>{{item.interest}}</td>
                                        <td>{{item.total}}</td>
                                        <td>{{item.balance}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
  
                    <footer class="my-5">
                        <p class="text-dark text-center">&copy; Zoho Books 2023 | Info park kakkanad kochi, Ernamkulam, kerala India 12345 | Phone: (123) 456-7890 | Email: info@zohodjango.com</p>
                    </footer>
                </section>



            </div>

        </div>
    </div>
</div>

<div id="printSection" style="display: none;">
    <section id="statementTemplate" class="p-2 mt-3">
        <header style="	background-color: #8b3131; border-radius: 0.6rem; padding: 1rem 0rem;" class="d-flex justify-content-center">
            <!-- <div class="acc_status col-md-4 d-flex align-items-center">
                <span class="px-3 py-2 ms-2 text-white" style="background-color: #964848;">{{account.status}}</span>
            </div> -->
            <center>
                <div style="background: #8b3131;color: white;" class="company-info text-center col-md-4">
                    {% if company.profile_pic %}<img class="ms-2 img-fluid" style="border-radius: 50%; width: 3rem;" src="{{company.profile_pic.url}}" alt="Company Logo">{% endif %}
                    <h4 class="text-white mb-0">{{company.company_name}}</h4>
                    <p class="text-white mb-0"> {{company.address}} - {{company.city}}</p>
                    <p class="text-white mb-0">{{company.company_email}}</p>
                    <p class="text-white mb-0">{{company.contact_number}}</p>
                </div>
            </center>
            <div class="col-md-4"></div>
        </header>
        <div class="statement-container pt-3 px-1">
            <h3 class="text-dark">Statement</h3>
            <div class="statement-header pt-3">
                <div class="statement-details text-dark" style="margin: 1rem 0rem;">
                    <table>
                        <tr>
                            <td class="table-cell text-black" style="border: none;">Name</td>
                            <td class="table-cell text-black" style="border: none;">:</td>
                            <td class="table-cell text-black" style="border: none;">{{account.acc_name}}</td>
                        </tr>
                        <tr>
                            <td class="table-cell text-black" style="border: none;">Status</td>
                            <td class="table-cell text-black" style="border: none;">:</td>
                            <td class="table-cell text-black" style="border: none;">{{account.status}}</td>
                        </tr>
                        <tr>
                            <td class="table-cell text-black" style="border: none;">Account #</td>
                            <td class="table-cell text-black" style="border: none;">:</td>
                            <td class="table-cell text-black" style="border: none;">{{account.acc_number}}</td>
                        </tr>
                        <tr>
                            <td class="table-cell text-black" style="border: none;">Balance</td>
                            <td class="table-cell text-black" style="border: none;">:</td>
                            <td class="table-cell text-black" style="border: none;">{{account.balance}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="statement_table my-2">
                <table class="text-dark" id="statementTable" style="width: 100%; border-collapse: collapse;">
                    <thead class="bg-light">
                        <tr>
                            <th style="padding: 10px 3px;text-align: left;border-bottom: 1px solid #000;" class="text-dark">Date</th>
                            <th style="padding: 10px 3px;text-align: left;border-bottom: 1px solid #000;" class="text-dark">Type</th>
                            <th style="padding: 10px 3px;text-align: left;border-bottom: 1px solid #000;" class="text-dark">Name</th>
                            <th style="padding: 10px 3px;text-align: left;border-bottom: 1px solid #000;" class="text-dark">Principal</th>
                            <th style="padding: 10px 3px;text-align: left;border-bottom: 1px solid #000;" class="text-dark">Interest</th>
                            <th style="padding: 10px 3px;text-align: left;border-bottom: 1px solid #000;" class="text-dark">Total Amount</th>
                            <th style="padding: 10px 3px;text-align: left;border-bottom: 1px solid #000;" class="text-dark">Balance</th>
                        </tr>
                    </thead>
                    <tbody class="bg-transparent">
                        {% for item in transactions %}
                        <tr style="border-color: lightgray;">
                            <td style="padding: 10px 3px;text-align: left;border-bottom: 1px solid #ddd;">{{item.date}}</td>
                            <td style="padding: 10px 3px;text-align: left;border-bottom: 1px solid #ddd;">{{item.type}}</td>
                            <td style="padding: 10px 3px;text-align: left;border-bottom: 1px solid #ddd;">{{item.loan_account.acc_name}}</td>
                            <td style="padding: 10px 3px;text-align: left;border-bottom: 1px solid #ddd;">{{item.principal}}</td>
                            <td style="padding: 10px 3px;text-align: left;border-bottom: 1px solid #ddd;">{{item.interest}}</td>
                            <td style="padding: 10px 3px;text-align: left;border-bottom: 1px solid #ddd;">{{item.total}}</td>
                            <td style="padding: 10px 3px;text-align: left;border-bottom: 1px solid #ddd;">{{item.balance}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>

        <footer class="my-5">
            <p class="text-dark text-center">&copy; Zoho Books 2023 | Info park kakkanad kochi, Ernamkulam, kerala India 12345 | Phone: (123) 456-7890 | Email: info@zohodjango.com</p>
        </footer>
    </section>
</div>



<!-- Make A Payment Modal -->
<div class="modal fade" id="makePayment">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style="background: rgb(32, 35, 37);border-radius: 20px;">
        <div class="modal-header " style="background: rgb(32, 35, 37);">
            <h3 class="m-3 text-uppercase">Make Payment</h3>
            <button type="button" class="close btn" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="background: rgb(32, 35, 37);">
          <div class="card p-3 m-3">
            {% if account.balance != 0 %}
            <form method="post" action="{% url 'makeEmiPayment' account.id %}" class="needs-validation" autocomplete="off" id="modalMakePayment">
                {% csrf_token %}
                <div class="row">
                    <label for="emiDate" class="col-md-4 p-3">Date</label>
                    <div class="col-md-8 p-3">
                      <input type="date" class="form-control text-dark bg-light" id="emiDate" name="emi_date" value="{% now 'Y-m-d' %}" required>
                    </div>
                </div>
                  
                <div class="row">
                    <label for="emiAmount" class="col-md-4 p-3">Principal Amount</label>
                    <div class="col-md-8 p-3">
                        <input type="number" class="form-control text-dark bg-light" min="0" step="any" id="emiAmount" name="emi_amount" onkeyup="calc()" required>
                    </div>
                </div>
          
                <div class="row">
                    <label for="emiInterest" class="col-md-4 p-3 ">Interest</label>
                    <div class="col-md-8 p-3">
                        <input type="number" class="form-control text-dark bg-light" id="emiInterest" name="emi_interest" min="0" step="any" onkeyup="calc()">
                    </div>
                </div>
                <div class="row">
                    <label for="emiTotal" class="col-md-4 p-3">Total</label>
                    <div class="col-md-8 p-3">
                        <input type="number" readonly class="form-control text-dark bg-light" value="0" id="emiTotal" name="emi_total">
                    </div>
                </div>
                <div class="row">
                    <label for="emiPaidFrom" class="col-md-4 p-3">Paid From</label>
                    <div class="col-md-8 p-3">
                        <select class="form-control bg-light text-dark" name="emi_paid_from" id="emiPaidFrom">
                            <option value="Cash">Cash</option>
                            <option value="Cheque">Cheque</option>
                            <option value="UPI">UPI</option>
                            {% for i in banks %}
                            <option value="{{i.name}}" text="{{i.id}}">{{i.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row emiPaidInputs" id="emiACCInp" style="display: none;">
                    <label for="emiPaidAccNum" class="col-md-4 p-3">Account #</label>
                    <div class="col-md-8 p-3">
                        <input type="number" readonly class="form-control text-dark bg-light" id="emiPaidAccNum" name="emi_paid_acc_num">
                    </div>
                </div>
                <div class="row emiPaidInputs" id="emiUpiInp" style="display: none;">
                    <label for="emiPaidUPIID" class="col-md-4 p-3">UPI ID</label>
                    <div class="col-md-8 p-3">
                        <input type="text" class="form-control text-dark bg-light" id="emiPaidUPIID" name="emi_paid_upi_id">
                    </div>
                </div>
                <div class="row emiPaidInputs" id="emiChequeInp" style="display: none;">
                    <label for="emiPaidChequeID" class="col-md-4 p-3">Cheque ID</label>
                    <div class="col-md-8 p-3">
                        <input type="text" class="form-control text-dark bg-light" id="emiPaidChequeID" name="emi_paid_cheque_id">
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                    <div class="d-flex">
                        <button class="btn save_btn rounded-pill text-white my-2 me-2" type="submit" data-dismiss="modal">Save</button> 
                        <button type="reset" class="close btn save_btn rounded-pill text-white my-2" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </form>
            {% else %}
            <h4 class="text-center text-warning">No Pending Repayments.!</h4>
            {% endif %}
          </div>
        </div>
      </div>
    </div>  
  </div>



  <!-- Additional Loan Modal -->
<div class="modal fade" id="additionalLoan">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style="background: rgb(32, 35, 37);border-radius: 20px;">
        <div class="modal-header " style="background: rgb(32, 35, 37);">
            <h3 class="m-3 text-uppercase">Additional Loan</h3>
            <button type="button" class="close btn" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="background: rgb(32, 35, 37);">
          <div class="card p-3 m-3">
            <form method="post" action="{% url 'getAdditionalLoan' account.id %}" class="needs-validation" autocomplete="off" id="modalAdditionalLoan">
                {% csrf_token %}
                <div class="row">
                    <label for="addLnDate" class="col-md-4 p-3">Date</label>
                    <div class="col-md-8 p-3">
                      <input type="date" class="form-control text-dark bg-light" id="addLnDate" name="add_loan_date" value="{% now 'Y-m-d' %}" required>
                    </div>
                </div>
                  
                <div class="row">
                    <label for="addLnAmount" class="col-md-4 p-3">Additional Loan Amount</label>
                    <div class="col-md-8 p-3">
                        <input type="number" class="form-control text-dark bg-light" min="0" step="any" id="addLnAmount" name="add_loan_amount" onkeyup="calc1()" required>
                    </div>
                </div>
          
                <div class="row">
                    <label for="addLnInterest" class="col-md-4 p-3 ">Interest</label>
                    <div class="col-md-8 p-3">
                        <input type="number" class="form-control text-dark bg-light" id="addLnInterest" name="add_loan_interest" min="0" step="any" onkeyup="calc1()">
                    </div>
                </div>
                <div class="row">
                    <label for="addLnTotal" class="col-md-4 p-3">Total</label>
                    <div class="col-md-8 p-3">
                        <input type="number" readonly class="form-control text-dark bg-light" value="0" id="addLnTotal" name="add_loan_total">
                    </div>
                </div>
                <div class="row">
                    <label for="adLoanReceivedFrom" class="col-md-4 p-3">Received From</label>
                    <div class="col-md-8 p-3">
                        <select class="form-control bg-light text-dark" name="add_loan_received_from" id="adLoanReceivedFrom">
                            <option value="Cash">Cash</option>
                            <option value="Cheque">Cheque</option>
                            <option value="UPI">UPI</option>
                            {% for i in banks %}
                            <option value="{{i.name}}" text="{{i.id}}">{{i.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row adLoanInputs" id="adLoanACCInp" style="display: none;">
                    <label for="adLoanAccNum" class="col-md-4 p-3">Account #</label>
                    <div class="col-md-8 p-3">
                        <input type="number" readonly class="form-control text-dark bg-light" id="adLoanAccNum" name="add_loan_acc_num">
                    </div>
                </div>
                <div class="row adLoanInputs" id="adLoanUpiInp" style="display: none;">
                    <label for="adLoanUPIID" class="col-md-4 p-3">UPI ID</label>
                    <div class="col-md-8 p-3">
                        <input type="text" class="form-control text-dark bg-light" id="adLoanUPIID" name="add_loan_upi_id">
                    </div>
                </div>
                <div class="row adLoanInputs" id="adLoanChequeInp" style="display: none;">
                    <label for="adLoanChequeID" class="col-md-4 p-3">Cheque ID</label>
                    <div class="col-md-8 p-3">
                        <input type="text" class="form-control text-dark bg-light" id="adLoanChequeID" name="add_loan_cheque_id">
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                    <div class="d-flex">
                        <button class="btn save_btn rounded-pill text-white my-2 me-2" type="submit" data-dismiss="modal">Save</button> 
                        <button type="reset" class="close btn save_btn rounded-pill text-white my-2" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>  
  </div>


  <!-- Share statement Modal -->
<div class="modal fade" id="shareToEmail" tabindex="-1" aria-labelledby="shareToEmailLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background: rgb(32, 35, 37);">
        <div class="modal-header" style="border-bottom: 1px solid #ffffff;">
          <h5 class="modal-title text-white" id="shareToEmailLabel">Share Statement Via Email</h5>
          <button type="button" class="text-white btn" data-bs-dismiss="modal" aria-label=""><i class="fa fa-close text-white m-0"></i></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'shareLoanAccountStatementToEmail' account.id %}" method="post" class="needs-validation" id="share_to_email_form">
            {% csrf_token %}
            <div class="form-group">
                <label for="emailIds">Email IDs</label>
                <textarea class="form-control text-dark" name="email_ids" id="emailIds" rows="3" style="height: 100px;" placeholder="Multiple emails can be added by separating with a comma(,)." required></textarea>
            </div>
            <div class="form-group mt-2">
                <label for="item_unitname">Message(optional)</label>
                <textarea name="email_message" id="email_message" class="form-control text-dark" cols="" rows="4" style="height: 100px;" placeholder="This message will be sent along with Bill details."></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer d-flex justify-content-center" style="border-top: 1px solid #ffffff;">
          <button type="submit" id="share_with_email" class="submitShareEmailBtn btn btn-outline-warning w-50 text-uppercase">SEND MAIL</button>
        </div>
      </div>
    </div>
</div>


<script>
    $(document).ready(function() {
      var $rows = $('#table tbody tr');
      $('#search').keyup(function() {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
        $rows.show().filter(function() {
          var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
          return !~text.indexOf(val);
        }).hide();
      });
    });
    
    $(document).ready(function() {
      var $rows = $('#transactionsTable tbody tr');
      $('#trans_table_search').keyup(function() {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
        $rows.show().filter(function() {
          var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
          return !~text.indexOf(val);
        }).hide();
      });
    });

    $(document).ready(function() {
      var $rows = $('#statementTable tbody tr');
      $('#stmnt_table_search').keyup(function() {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
        $rows.show().filter(function() {
          var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
          return !~text.indexOf(val);
        }).hide();
      });
    });

    $(document).ready(function(){
        $('#share_with_email').on('click',function(){
            var emailsInput = document.getElementById('emailIds');
            var emailsString = emailsInput.value.trim();

            var emails = emailsString.split(',').map(function(email) {
                return email.trim();
            });

            var emailRegex = /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/;

            var invalidEmails = []
            if(emailsString == ""){
                alert('Enter valid email addresses..')
            }
            else{
                for (var i = 0; i < emails.length; i++) {
                    var currentEmail = emails[i];

                    if (currentEmail!="" && !emailRegex.test(currentEmail)) {
                        console.log(currentEmail + ' is invalid!');
                        invalidEmails.push(currentEmail)
                    }
                }
                
                if(invalidEmails.length > 0){
                    alert('Invalid emails..Please check!\n'+invalidEmails)
                    // alert(invalidEmails)
                }else{
                    $('#share_to_email_form').submit();
                }
            }
        })
    });

    $(document).ready(function(){
        $('#emiPaidFrom').on('change', function(){
            var type = $(this).val();
            var bnkId = $(this).find(":selected").attr('text');
            if(bnkId != undefined){
                $('.emiPaidInputs').css('display','none');
                $.ajax({
                    url: "{% url 'getBankDetails' %}",
                    type: "POST",
                    data: {
                        id : bnkId,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },

                    success: function(data) {
                        if(data.status){
                            $('#emiACCInp').css('display','flex');
                            $('#emiPaidAccNum').val(data.acc_number)
                        }
                        else{
                            alert('Something went wrong.!')
                        }
                    }
                });
            }
            else{
                if(type === 'Cash'){
                    $('.emiPaidInputs').css('display','none');
                
                }else if(type === 'Cheque'){
                    $('.emiPaidInputs').css('display','none');

                    $('#emiChequeInp').css('display','flex');
                }else if(type === 'UPI'){
                    $('.emiPaidInputs').css('display','none');

                    $('#emiUpiInp').css('display','flex');
                }else{
                    $('.emiPaidInputs').css('display','none');
                }   
            }
        })
    });

    function calc(){
        var amount = $('#emiAmount').val();
        var int = $('#emiInterest').val();
        var bal = parseFloat(`{{account.balance}}`)
        if (amount == ""){
            amount = 0
        }
        if (int == ""){
            int = 0
        }
        if(amount > bal){
            alert('EMI Amount entered is greater than Balance amount.!')
            $('#emiAmount').val(bal);
            $('#emiTotal').val(parseFloat(bal)+parseFloat(int))
        }else{
            $('#emiTotal').val(parseFloat(amount)+parseFloat(int))
        }
    }


    $(document).ready(function(){
        $('#emiPaidFrom').on('change', function(){
            var type = $(this).val();
            var bnkId = $(this).find(":selected").attr('text');
            if(bnkId != undefined){
                $('.emiPaidInputs').css('display','none');
                $.ajax({
                    url: "{% url 'getBankDetails' %}",
                    type: "POST",
                    data: {
                        id : bnkId,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },

                    success: function(data) {
                        if(data.status){
                            $('#emiACCInp').css('display','flex');
                            $('#emiPaidAccNum').val(data.acc_number)
                        }
                        else{
                            alert('Something went wrong.!')
                        }
                    }
                });
            }
            else{
                if(type === 'Cash'){
                    $('.emiPaidInputs').css('display','none');
                
                }else if(type === 'Cheque'){
                    $('.emiPaidInputs').css('display','none');

                    $('#emiChequeInp').css('display','flex');
                }else if(type === 'UPI'){
                    $('.emiPaidInputs').css('display','none');

                    $('#emiUpiInp').css('display','flex');
                }else{
                    $('.emiPaidInputs').css('display','none');
                }   
            }
        })
    });

    function calc1(){
        var amount = $('#addLnAmount').val();
        var int = $('#addLnInterest').val();
        if (amount == ""){
            amount = 0
        }
        if (int == ""){
            int = 0
        }

        $('#addLnTotal').val(parseFloat(amount)+parseFloat(int))
    }

    $(document).ready(function(){
        $('.trans_date_inputs').on('change',function(){
            var form = $('#trans_filter_form')
            var startDate = $('#transFromDate').val()
            var endDate = $('#transToDate').val()
            if(startDate != "" && endDate != ""){
                var start = new Date($('#transFromDate').val())
                var end = new Date($('#transToDate').val())
                if( start<=end){
                    form.submit();
                }else{
                    alert('Start Date should be greater than End Date')
                }
            }
        })
    })

    $(document).ready(function(){
        $('.stmnt_date_inputs').on('change',function(){
            var form = $('#stmnt_filter_form')
            var startDate = $('#stFromDate').val()
            var endDate = $('#stToDate').val()
            if(startDate != "" && endDate != ""){
                var start = new Date($('#stFromDate').val())
                var end = new Date($('#stToDate').val())
                if( start<=end){
                    form.submit();
                }else{
                    alert('Start Date should be greater than End Date')
                }
            }
        })
    })

    $(document).ready(function(){
        if(`{{statement}}` == 'true'){
            $('#transactionSection').css('display','none');
            $('#statementSection').css('display','block');
        }
    })

    function showStatements(){
        $('#transactionSection').css('display','none');
        $('#statementSection').css('display','block');
    }

    function showTransactions(){
        $('#statementSection').css('display','none');
        $('#transactionSection').css('display','block');
    }

    function printSpecificArea(sectionId) {
        var printContents = document.getElementById(sectionId).innerHTML;
        var originalContents = document.body.innerHTML;
        
        document.body.style.backgroundColor = 'white';
        $('.sectionhtml').css('background-image','none');
        document.body.innerHTML = printContents;

        window.print();
        document.body.innerHTML = originalContents;
    }

    function templatePrint(){
        var contentToPrint = document.getElementById('printSection').innerHTML;
        var printWindow = window.open('', '_blank');

        // Write the HTML content to the new window
        printWindow.document.write(contentToPrint);

        // Close the document stream to finish writing the content
        printWindow.document.close();
        
        printWindow.onafterprint = function () {
            printWindow.close();
        };

        // Print the new window
        printWindow.print();
    }

    function exportToPDF(){
        var content = document.getElementById('statementTemplate');
        html2pdf().from(content).save('Statement_'+`{{account.acc_name}}_{{account.acc_number}}`+'.pdf');
    }

    $(document).ready(function(){
        var date1 = "";
        $('#transFromDate').on('change',function(){
            date1 = $(this).val()
            $('#transToDate').prop('min',date1)
        })
    })
    $(document).ready(function(){
        var date2 = "";
        $('#transToDate').on('change',function(){
            date2 = $(this).val()
            $('#transFromDate').prop('max',date2)
        })
    })
    $(document).ready(function(){
        var date1 = "";
        $('#stFromDate').on('change',function(){
            date1 = $(this).val()
            $('#stToDate').prop('min',date1)
        })
    })
    $(document).ready(function(){
        var date2 = "";
        $('#stToDate').on('change',function(){
            date2 = $(this).val()
            $('#stFromDate').prop('max',date2)
        })
    })

</script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer" ></script>
{%if messages%} {%for message in messages%} {%if message.tags == "success"%}
<script>
  swal({
    position: "top-end",
    icon: "success",
    title: "{{message}}",
  });
</script>
{%elif message.tags == "warning"%}
<script>
  swal({
    position: "top-end",
    icon: "warning",
    title: "{{message}}",
  });
</script>
{%elif message.tags == "error"%}
<script>
  swal({
    position: "top-end",
    icon: "error",
    title: "{{message}}",
  });
</script>
{%else%}
<script>
  swal({
    position: "top-end",
    icon: "info",
    title: "{{message}}",
  });
</script>
{%endif%} {%endfor%} {%endif%}
{%endblock%}
